@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3c0d2;
}

.container {
    width: 40vw;
    height: 80vh;
    /* border: rgba(0, 0, 0, 0.139) 2px solid; */
    border-radius: 16px;
    background-color: #FF6201;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-family: 'Press Start 2P', system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #d3c0d2;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
}

.btns {
    display: flex;
    gap: 10px;
}

.Rock,
.Scissors,
.Paper {
    background-color: #001011;
    width: 8vw;
    height: 5vh;
    border-style: none;
    margin-top: 36px;
    border-radius: 8px;
    font-family: 'Press Start 2P', system-ui;
    font-weight: 200;
    font-size: 10px;
    cursor: pointer;
    color: #d3c0d2;
}

.Rock:hover,
.Scissors:hover,
.Paper:hover {
    color: #FCFCFC;
}

.result {
    margin-top: 26px;
    font-family: 'Press Start 2P', system-ui;
    font-size: 14px;
    color: #362327;
    text-align: center;
}

.scores {
    margin-top: 26px;
    font-family: 'Press Start 2P', system-ui;
    font-size: 14px;
    color: #362327;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #FF6201;
    }

    .container {
        width: 90vw;
        height: 90vh;
    }

    .title {
        font-size: 10px;
    }

    .btns {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .Rock,
    .Scissors,
    .Paper {
        width: 28vw;
        height: 5vh;
    }
}